<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ static_url("js/raytable/css/raytable.css") }}" />
    <script src="{{ static_url("js/jquery-3.4.1.min.js") }}"></script>
    <script src="{{ static_url("js/raytable/raytable.js") }}"></script>
    <title>单词本一览</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .footer {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="head">
        单词本一览
    </div>
    <div class="widget">
        <input type="hidden" name="userId" id="userId" value="{{user["id"]}}" />
        <button name="add" id="btnAdd" onclick="goAdd()">新建单词本</button><br />
    </div>
    <table id="table"></table>
    <div class="footer">
        copyright iLikework 2019.10
    </div>
    <script>
        function initRayTable() {
            var text = {% raw books %};
            var tableIns = $("#table").rayTable({
                data: text,
                height: 'full-100',
                page: true,
                cols: [[
                    { field: 'no', title: '序号', align: 'center', width: 50, resize: true },
                    { field: 'name', title: '单词本', align: 'left', width:200, resize: true },
                    { field: 'chgdate', title: '更新时间', align: 'left',width:200, resize: true },
                    { field: 'opts', title: '操作', width: 120, align: 'center', resize: true, formatter: function () {
                            return '<a class="rayui-btn rayui-btn-danger" event="del">删除</a>&nbsp;<a class="rayui-btn rayui-btn-success" event="edit">编辑</a>&nbsp;<a class="rayui-btn rayui-btn-success" event="enter">进入</a>';
                        }
                    }
                ]]
            });

            tableIns.on("tool", function (evt, obj) {
                if (evt === "del") {
                    if (window.confirm("确定删除[" + obj.data.name + "]吗？")) {
                        $.post("delete_note?opt=delete_book&bookId="+obj.data.id, function (data) {
                            if (data != 0)
                                alert("删除失败");
                            else {
                                window.location.reload();
                            }
                        });
                    }
                } else if (evt === "edit") {
                    $.post("/recite?opt=show_edit_book&userId=" + $("#userId") + "&bookId=" + obj.data.id,function(data) {
                    });
                } else if (evt === "edit") {
                    $.post("/recite?opt=select_book&userId=" +  $("#userId") + "&bookId=" + obj.data.id, function (data) {
                    });
                }
            });
        }
        initRayTable();

        var goAdd = function() {
            $.post("/recite?opt=show_add_book&userId=" + userId, function (data) { });
        }

    </script>
</body>
</html>