.centering_parent {
    padding: 20px; /* 余白指定 */
    background-color: #ddd; /* 背景色指定 */
    height: 94vh; /* 高さ指定 */
    width: 97vw; /* 幅指定 */
    position: relative; /* 位置指定の基实悚摔工 */
}

.centering_item {
    background-color: #2196F3; /* 背景色指定 */
    position: absolute; /* 位置指定 */
    top: 50%; /* H要素の半分下にずらす */
    left: 50%; /* H要素の半分右にずらす */
    transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
    padding: 20px; /* 余白指定 */
}
