<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>记事一览</title>
    <link rel="stylesheet" href="{{ static_url("js/raytable/css/raytable.css") }}" />
    <script src="{{ static_url("js/jquery-1.12.4.js") }}"></script>
    <script src="{{ static_url("js/raytable/raytable.js") }}"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .footer {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="head">
         我的记事本
    </div>
    <div class="widget">
        <button  name="add" id="btnAdd"  onclick="goAdd()" >新建记事</button><br/>
    </div>
    <table id="table"></table>
    <div class="footer">
        copyright iLikework 2019.10
    </div>
    <script>
        function initRayTable() {
            var text = {% raw notes %};
            //var obj = JSON.parse(text);
            //var myNotes =  $("#notes");
            //var myNotes =  $("#notes").val();
            //var myNotes2 =  decodeURIComponent("{{{notes}}}");
            //var myNotes =  "{{notes}}";
            var tableIns = $("#table").rayTable({
                data: text, 
                height: 'full-100',
                page: true,
                cols: [[
                    { field: 'no', title: '序号', align: 'center', width: 50, resize: true },
                    { field: 'name', title: '记事名', align: 'left', width:200, resize: true },
                    { field: 'message', title: '内容', align: 'left',  resize: true },
                    { field: 'chgdate', title: '更新时间', align: 'left',width:200, resize: true },
                    { field: 'opts', title: '操作', width: 120, align: 'center', resize: true, formatter: function () {
                            return '<a class="rayui-btn rayui-btn-danger" event="del">删除</a>&nbsp;<a class="rayui-btn rayui-btn-success" event="edit">编辑</a>';
                        }
                    }                    
                ]]
            });
            
            tableIns.on("tool", function (evt, obj) {
                if (evt === "del") {
                    if (window.confirm("确定删除[" + obj.data.name + "]吗？")) {
                        $.post("delete_note?id="+obj.data.id, function (data) {
                            if (data != 0)
                                alert("删除失败");
                            else {
                                window.location.reload();
                            }
                        });
                    }
                } else if (evt === "edit") {
                     self.location="/edit_note?id="+obj.data.id;
                }
            });
        }
        initRayTable();
        
        var goAdd = function() {
           self.location="/add_note";
        }
        
    </script>

</body>
</html>
